extends layout

block contenido
    .container
        .registrar-container
            h1.form-title Registrar Usuario

            if locals.mensajes
                each categoria in Object.keys(locals.mensajes)
                    .errores
                        each error in mensajes[categoria]
                            p(class= categoria)= error


            form(action="/crear-usuario" method="POST")
                .campos
                    .campo
                        label(for="nombre") Nombre: 
                        input(type="text" name="nombre" id="nombre" placeholder="Ingresar Nombre")
                    .campo
                        label(for="apellidoP") Apellido Paterno: 
                        input(type="text" name="aPaterno" id="apellidoP" placeholder="Ingresar Apellido Paterno")
                    .campo
                        label(for="apellidoM") Appellido Materno: 
                        input(type="text" name="aMaterno" id="apellidoM" placeholder="Ingresar Apellido Materno")
                .campos
                    .campo
                        label(for="correo") Correo: 
                        input(type="text" name="correo" id="correo" placeholder="Correo Electronico")
                    .campo
                        label(for="role") Role: 
                        select(name="role")
                            option(value="" disabled selected) Selecciona un role
                            option(value="admin") Administrador
                            option(value="user") Usuario
                    .campo
                        label(for="jefe") Jefe de Carrera: 
                        select(name="jefe")
                            option(value="" disabled selected) En caso de serlo
                            option(value="Ingenieria en Sistemas Computacionales") Ingenieria en Sistemas Computacionales
                            option(value="Ingenieria Industrial") Ingenieria Industrial
                            option(value="Ingenieria Mecatronica") Ingenieria Mecatronica
                input.boton(type="submit", value="Registrar")
                        
