extends layout
block contenido
    .container
        .cargar-container 
            h1 Cargar Datos de Excel
            if locals.mensajes
                each categoria in Object.keys(locals.mensajes)
                    .errores
                        each error in mensajes[categoria]
                            p(class= categoria)= error
            
            form(action="/cargar-datos" method='POST' enctype="multipart/form-data")

                .campo
                    p Subir Archivo:
                    label(for="archivo") Seleccione un Archivo 
                    input(type="file", name="ex" id="archivo")
                input.boton(type="submit", value="Cargar Datos")
                
    script(src="/dist/bundle.js")