extends layout 
block contenido
    .container
        .plantilla-container.registrar-container
            h1 Datos de Carta
            if locals.mensajes
                
                each categoria in Object.keys(locals.mensajes)
                    .errores
                        each error in mensajes[categoria]
                            p(class= categoria)= error
            form( action="jefe-coordinador" method="post")
                .campo-select
                    label(for="opcion") Asignar datos:
                    select(name="opcion" id="dato")
                        option(value="" disabled selected) --Seleccione una opcion--
                        option(value="Jefe servicios") Jefe del Departamento de Servicios Escolares
                        option(value="Ingeniería en Sistemas Computacionales") Ingeniería en Sistemas Computacionales
                        option(value="Ingeniería en Gestión Empresarial") Ingenieria en Gestión Empresarial
                        option(value="Ingeniería Industrial") Ingeniería Industrial
                        option(value="Ingeniería en Tecnologías de la Información y Comunicaciones") Ingeniería en Tecnologías de la Información y Comunicaciones
                        option(value="Ingeniería Mecatronica") Ingeniería Mecatronica
                        option(value="Ingeniería en Logística") Ingeniería en Logística
                        option(value="Contador Público") Contador Público
                        option(value="Ingeniería en Administración") Ingeniería en Administración
                        option(value="Ingeniería Quimica") Ingeniería Quimica
                .campos
    script(src="/dist/bundle.js")                   

