<!DOCTYPE html>
html(lang="en")
    head
        include partials/head
    body
        header.main-header
            img(src="/img/header.png", alt="")
        main
            aside.sidebar
                .usuario-data
                    p Bienvenido: 
                    if usuario
                        span= usuario.nombre 
                .menu
                    p Menu
                    ul.menu-list
                        li 
                            a(href="/consultar-alumno") Consulta de Alumnos
                        if usuario
                            li 
                                a(href="/generar-carta") Emitir Constancia
                if usuario
                    if usuario.role === 'admin'
                        .menu
                            ul.menu-list
                                
                                li 
                                    a(href="/crear-usuario") Registrar Usuario
                                li 
                                    a(href="/actualizar-usuario") Actualizar Usuario
                                li 
                                    a(href="/eliminar-usuario") Eliminar Usuario
                                li 
                                    a(href="/cargar-datos") Cargar Datos  
                                li 
                                    a(href="/datos-plantilla") Datos de Carta    
                                li 
                                    a(href="/editar-plantilla") Editar Plantilla
                .cerrar-sesion
                    a(href="/cerrar-sesion") Cerrar Sesión           

            block contenido
        
        include partials/footer