<!DOCTYPE html>
html(lang="en")
    head
        include partials/head
    body
        header.main-header
            img(src="/img/header.png", alt="logo-tesci")
        main
            aside.sidebar
                .usuario-data
                    p Bienvenido: 
                    if usuario
                        span= usuario.nombre 
                .menu
                    p Menú
                    ul.menu-list
                        li 
                            a(href="/consultar-alumno") Consulta de alumnos
                        if usuario
                            li 
                                a(href="/generar-carta") Emitir constancia
                if usuario
                    if usuario.role === 'admin'
                        .menu
                            ul.menu-list
                                
                                li 
                                    a(href="/crear-usuario") Registrar usuario
                                li 
                                    a(href="/actualizar-usuario") Actualizar usuario
                                li 
                                    a(href="/eliminar-usuario") Eliminar usuario
                                li 
                                    a(href="/cargar-datos") Cargar datos  
                                li 
                                    a(href="/datos-plantilla") Datos de carta    
                                li 
                                    a(href="/editar-plantilla") Editar plantilla
                    .cerrar-sesion
                        a(href="/cerrar-sesion") Cerrar sesión           

            block contenido
        
        include partials/footer