*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*RESETEA LISTAS*/
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
}

.boton {
  padding: .6rem .8rem;
  border-radius: 5px;
  background-color: #33C3F0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  font-size: .8rem;
  font-weight: 900;
  border: none;
  display: block;
  margin: 2.5rem auto 0 auto;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #0fa3d1;
}

/*----------ESTILOS LOGIN----------*/
.login {
  background-color: #455A64;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .login-container {
    width: 100%;
    height: 100vh;
  }
}

.login-container form {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .login-container form {
    background-color: #f2f2f2;
    border: 1px solid #707070;
    -webkit-box-shadow: 6px 6px 14px 0px rgba(50, 50, 50, 0.68);
    box-shadow: 6px 6px 14px 0px rgba(50, 50, 50, 0.68);
    max-width: 650px;
    height: 325px;
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
  }
}

.login-container h1 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid gray;
}

@media only screen and (min-width: 768px) {
  .login-container h1 {
    border: none;
  }
}

.login-container .campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .login-container .campo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.login-container .campo label {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .login-container .campo label {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100px !important;
    flex: 0 0 100px !important;
    padding-right: 1rem;
    text-align: right;
    color: #000;
    font-size: 1rem;
  }
}

.login-container .campo input[type="text"],
.login-container .campo input[type="password"] {
  width: 80%;
  height: 3rem;
  border-radius: 15px;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .login-container .campo input[type="text"],
  .login-container .campo input[type="password"] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    padding-left: 2rem;
    border: none;
  }
}

.login-container .boton {
  padding: .6rem .8rem;
  border-radius: 5px;
  background-color: #33C3F0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  font-size: .8rem;
  font-weight: 900;
  border: none;
  display: block;
  margin: 1rem auto 0 auto;
}

/*------ERROR Y SUCCESS------*/
.error,
.correcto {
  padding: 0.8rem 1rem;
  background-color: #f09e94;
  border: 2px solid #cb3234;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  margin-bottom: 1rem;
}

.errores {
  margin: 0 auto;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.errores .error {
  width: 90%;
  padding: 0.5rem 0;
  border: 2px solid #cb3234;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: center;
}

.errores .correcto {
  width: 90%;
  padding: 0.5rem 0;
  border: 2px solid #02ac66;
  background-color: #6dc36d;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: center;
}

/*-------HEADER------*/
.main-header {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #455A64;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .main-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60.16px;
    width: 100%;
    position: fixed;
    top: 0;
  }
}

.main-header h1 {
  font-size: 1.5rem;
  text-align: center;
}

.main-header a {
  text-decoration: none;
  color: #fff;
  padding: 0.7rem;
  text-align: center;
}

/*------SIDEBAR------*/
.sidebar {
  width: 300px;
  height: 85vh;
  position: fixed;
  top: 60.16px;
  padding-top: 1rem;
  background-color: #607D8B;
}

.sidebar .usuario-data {
  padding: 0.5rem 0;
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar .usuario-data p,
.sidebar .usuario-data span {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #FFF;
}

.sidebar .usuario-data span {
  font-weight: 700;
}

.sidebar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar .menu p {
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1.4rem;
  font-weight: bolder;
  color: #252850;
  padding: 1rem 0;
  margin: 0;
}

.sidebar .menu .menu-list li {
  padding: 0.6rem;
  font-size: 1rem;
  -webkit-transition: padding-left 0.3s ease;
  transition: padding-left 0.3s ease;
}

.sidebar .menu .menu-list li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 1.2rem;
}

.sidebar .menu .menu-list li a {
  color: #FFF;
}

/*------FOOTER-----*/
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FFF;
  background-color: #455A64;
  -webkit-box-shadow: 3px -2px 16px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px -2px 16px 0px rgba(50, 50, 50, 0.5);
  height: 6vh;
  width: 100%;
}

/*------REGISTRAR USUARIO------*/
.container {
  width: 100%;
  margin-top: 61px;
  margin-left: 300px;
  padding-bottom: 3.5rem;
}

.container h1 {
  text-align: center;
  color: #252850;
}

.container .registrar-container form .campos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3rem 0;
}

.container .registrar-container form .campos .campo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 1rem;
}

.container .registrar-container form .campos .campo input[type="text"],
.container .registrar-container form .campos .campo select {
  display: block;
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  outline: none;
}

.container .registrar-container form .campos .campo label {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.3rem;
}

/*------CONFIGURAR PASSWORD------*/
.container-config {
  background-color: #455A64;
}

.container-config .configurar-password {
  width: 60%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.container-config .configurar-password h1 {
  text-align: center;
  color: #252850;
}

.container-config .configurar-password form {
  width: 100%;
  background-color: #f2f2f2;
  -webkit-box-shadow: -1px 0px 23px 0px rgba(50, 50, 50, 0.73);
  box-shadow: -1px 0px 23px 0px rgba(50, 50, 50, 0.73);
  padding: 1.5rem;
}

.container-config .configurar-password .campo {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-config .configurar-password .campo input[type="password"],
.container-config .configurar-password .campo select {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 2rem;
  border-radius: 10px;
  outline: none;
}

.container-config .configurar-password .campo label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  font-weight: bold;
  font-size: 1rem;
}

/*------CARGAR ARCHIVO------*/
.container .cargar-container {
  width: 80%;
  margin: 0 auto;
}

.container .cargar-container form {
  margin-top: 1.5rem;
  background-color: #607D8B;
  -webkit-box-shadow: 6px 6px 14px 0px rgba(50, 50, 50, 0.68);
  box-shadow: 6px 6px 14px 0px rgba(50, 50, 50, 0.68);
  padding: 3rem;
}

.container .cargar-container form .campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container .cargar-container form .campo p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.container .cargar-container form .campo label {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  width: 50%;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  background-color: #0f9cc8;
  -webkit-transition: background-color 0.4s ease-in;
  transition: background-color 0.4s ease-in;
}

.container .cargar-container form .campo label:hover {
  cursor: pointer;
}

.container .cargar-container form .campo .cargado {
  background-color: #02ac66;
}

.container .cargar-container form .campo input[type="file"] {
  display: none;
}

/*------ELIMINAR USUARIO------*/
.eliminar {
  overflow: auto;
  height: 450px;
}

.fila-container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fila-container .caja {
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #000;
}

.fila-container .caja h2 {
  font-size: 1rem;
}

.fila-container .delete-boton {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background-color: darkred;
  color: #fff;
  text-decoration: none;
}

.container.consulta .fila-container {
  margin-top: 2rem;
  width: 95%;
}

.container.consulta .fila-container .space {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.container.consulta .fila-container .caja#consulta {
  text-align: center;
  border: 0 !important;
}

.consultar-container {
  width: 70%;
  margin: 0 auto;
}

.consultar-container form {
  margin: 0 auto;
}

.consultar-container form .boton {
  margin-top: 1.8rem;
}

.consultar-container .campo {
  -webkit-box-shadow: 6px 6px 14px 0px rgba(50, 50, 50, 0.68);
  box-shadow: 6px 6px 14px 0px rgba(50, 50, 50, 0.68);
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #607D8B;
}

.consultar-container .campo input[type="text"] {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  outline: none;
}

.consultar-container .campo label {
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.3rem;
  padding-right: 2rem;
}

table {
  margin: 2rem auto 1.5rem auto;
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 2.5px solid black;
}

table thead th:nth-child(1), table thead th:nth-child(3), table thead th:nth-child(4) {
  width: 20%;
}

table thead th:nth-child(2) {
  width: 40%;
}

table th, table td {
  text-align: center;
  padding: .8rem;
  border: 2px solid black;
  letter-spacing: .5px;
}

table th {
  background-color: #9999FF;
}

table caption {
  background-color: #99CCFF;
  border: 2px solid black;
  border-bottom: none;
  padding: .5rem;
  font-weight: bold;
  font-size: 1.2rem;
  caption-side: top;
}

table .total-creditos {
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #9999FF;
  text-align: right;
}
