<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include email.css
    body
        h2 Hola, tu registro esta casi listo
        p Da click en el siguiente enlace para configurar tu contraseña 
        a(href=`${resetURL}`) Ir a configurar password